{% extends "base.html" %} {% block title %}Home{% endblock %} {% block main %}
<div class="container-fluid h-100 p-0">
  <div class="row h-100 w-100 align-items-center m-0">
    <div class="col-12">
      <form action="/" method="post" enctype="multipart/form-data">
        {{form.csrf_token}}

        <div class="col-12 d-flex justify-content-center mb-2">
          <div class="row text-center">
            <div class="col-12">
              <img
                src="{{url_for('static', filename='images/ajax-loader.gif')}}"
                class="loader mx-auto"
              />
            </div>
            <div class="col-12">
              <p class="loader mx-auto pt-2">Processing</p>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-center mb-2">
          <div class="my-image-form">
            {% if form.image_url.errors %} {% for error in form.image_url.errors
            %}
            <small class="text-danger">{{error}}</small>
            {% endfor %} {% endif %}
          </div>
        </div>
        <div class="my-image-form col-12 d-flex justify-content-center mb-2">
          <div class="my-image-form">{{form.image_url}}</div>
        </div>
        <div class="my-image-form col-12 d-flex justify-content-center mb-2">
          <div class="my-image-form">
            <label id="imageName" for=""></label>
          </div>
        </div>
        <div class="my-image-form col-12 d-flex justify-content-center mb-2">
          <div class="my-image-form">
            {% if form.image_file.errors %} {% for error in
            form.image_file.errors %}
            <small class="text-danger">{{error}}</small>
            {% endfor %} {% endif %}
          </div>
        </div>
        <div class="my-image-form col-12 d-flex justify-content-center mb-4">
          <div class="my-image-form">
            {{form.image_file}}
            <div class="custom-file" id="custom-file-upload">
              <div class="text-center">
                <button type="submit" id="file-label "for="customFile" onclick="open_browser();" class="custom-button text-center">
                  Celestial Image
                </button>
              </div>
            </div>
          </div>
        </div></br>
        <div class="my-image-form col-12 d-flex justify-content-center">
          <div class="my-image-form">
            <button
              type="submit"
              onclick="upload_image();"
              class="custom-button"
            >
              Classify
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
